{% extends 'parent/base.html' %}
{% block title %}Add Post{% endblock %}
{% block content %}

    <h1>Add Post</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% for img in post.images.all %}
        <div style="border: 1px solid #ccc; padding: 8px; border-radius: 8px;">
            <img width="350px" height="200px" src="{{ img.image_file.url }}" alt="{{ img.title }}">
            <a href="{% url 'blog:delete_image' img.id %}">حذف تصویر</a>
            {% if img.title %}
                <p>{{ img.title }}</p>
            {% endif %}
        </div>
        {% endfor %}
    <br>
        <input type="submit" value="افزودن پست">
    </form>

{% endblock %}